<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<div class="about-main">
  <h1>Roamersとは</h1>
  <h3 class="about-text">
    「旅をするように生きる」価値観を持った<br>仲間に会いにいく旅ができるプラットフォーム
  </h3>
  <h1>Roamersの特徴</h1>
  	<div class="about-point">
	  <h3>1.メンバーに会いにいくことを目的にした旅ができる</h3>
	  <h3>2.あなたが心から信頼できる友人のみ招待できる</h3>
	  <h3>3.感謝の気持ちを込めてギフトを贈りあえる</h3>
	</div>
  <li>
    <%= link_to("今すぐ世界中の仲間に会いに行く","/signup")%>
  </li>
</div>