<header>
  <meta name="viewport" content="width=device-width">
</header>

<div class="about-main">
  <h1>Roamersとは</h1>
  <h3>
    「旅をするように生きる」価値観を持った仲間に会いにいく旅ができるプラットフォーム
  </h3>
  <h1>Roamersの特徴</h1>
  <h3>1.メンバーに会いにいくことを目的にした旅ができる</h3>
  <h3>2.あなたが心から信頼できる友人のみ招待できる</h3>
  <h3>3.感謝の気持ちを込めてギフトを贈りあえる</h3>
</div>