<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<div class="main top-main">
  <div class="top-message">
    <h2>Roamers</h2>
  </div>
  <img class="top-logo" src="/roamers-logo.png">
  <li class="top-link">
  <a href="/about">Roamersへようこそ</a>
  </li>
</div>