<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<div class="main top-main">
	<div class="box-black-mask">
	  <div class="top-message">
	    <h1>Roamers</h1>
	  </div>
	  <img class="top-logo" src="/roamers-logo.png">
	  <li class="top-link">
	  <a href="/about">Roamersへようこそ</a>
	  </li>
	</div>
</div>