<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<!-- //////////mobile////////// -->
<div class="main top-main mobile-size">
	<div class="box-black-mask">
	  <div class="top-message">
	    <h1>Roamers</h1>
	  </div>
	  <img class="top-logo" src="/roamers-logo.png">
	  <li class="top-link">
	  <a href="/about">Roamersへようこそ</a>
	  </li>
	</div>
</div>
<!-- //////////web////////// -->
<div class="web-size">
	<div class="main top-main">
		<div class="box-black-mask">
			<div class="container">
					<div class="copy-box clear-fix">
					  <h2>Musubi</h2>
					  <h3>感謝で繋がる恩送りコミュニティ</h3>
					  <li class="top-link">
					  <a href="/about">Musubiへようこそ</a>
					  </li>
				</div>
			</div>
		</div>
	</div>
	
	<footer>
		<p>©Copyright2018 Roamers Life.All Rights Reserved.</p>
	</footer>
</div>