<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<!-- //////////mobile////////// -->
<div class="main top-main mobile-size">
	<div class="box-black-mask">
	  <div class="top-message">
	    <h1>Roamers</h1>
	  </div>
	  <img class="top-logo" src="/roamers-logo.png">
	  <li class="top-link">
	  <a href="/about">Roamersへようこそ</a>
	  </li>
	</div>
</div>
<!-- //////////web////////// -->
<div class="web-size">
	<div class="main top-main">
		<div class="box-black-mask">
			<div class="container">
				<header>
					<img class="top-logo" src="/roamers-logo.png">
				    <h1>Roamers</h1>
				  	<ul>
				  		<li>ログイン</li>
				  		<li>登録する</li>
				  	</ul>
				</header>
					<div class="copy-box clear-fix">
					  <h2>さあ、人に会う旅を始めよう</h2>
					  <h3>「旅するように生きる」価値観を持った<br>
						仲間に会いに行く旅ができるプラットフォーム
						</h3>
					  <li class="top-link">
					  <a href="/about">今すぐ世界中の仲間に会いに行く</a>
					  </li>
				</div>
			</div>
		</div>
	</div>
	<div class="point">
		<h2 class="section_title">Roamers<span>の特徴</span></h2>
		<ul class="point-item">
			<li>1. メンバーに会いに行くことを目的にした旅ができる
			</li>
			<li>2. あなたが心から信頼できる友人のみ招待できる</li>
			<li>3. 感謝の気持ちを込めてギフトを贈りあえる</li>
		</ul>
	</div>
	<div class="how-to-use">
		<h2 class="section_title">Roamers<span>の使い方</span></h2>
		<ul>
			<li>
				<img src="/intro-mock01.png">
				<p>メンバーリストから<br>
					面白そうな人を見つけましょう
				</p>
			</li>
			<li class="arrow"></li>
			<li>
				<img src="/intro-mock02.png">
				<p>プロフィール詳細を<br>
					確認してメッセージで<br>
					日程のやりとりをしましょう
				</p>
			</li>
			<li class="arrow"></li>
			<li>
				<img src="/intro-mock03.png">
				<p>出会いの後はメンバーの<br>
					レビューと感謝の気持ちを<br>
					"UKIUKI"で伝えましょう
				</p>
			</li>
		</ul>
		<div class="clear-fix"></div>
	</div>
	<footer>
		<p>©Copyright2018 Roamers Life.All Rights Reserved.</p>
	</footer>
</div>