.vision
	h1.vision-title の理念
	ul.title-box
		li.thanks-eco-title.active 感謝経済
		li.musubi-title Musubi
		li.ukiuki-title UKIUKI
	ul.text-box
		li.vision-text Musubiは感謝経済のもとに成り立っています。<br>
			感謝経済とは、共感と思いやりから生まれる「あり
			がとう」によって成り立つ経済のことです。<br>
			決められた金額を支払うのではなく、自分が感じた
			価値の分だけ感謝の気持ちを込めてメッセージとギ
			フトを贈る。そして、Musubiのメンバー同士が
			「感謝の紐」で結ばれていく。<br>
			そのような「ありがとう」の気持ちで溢れるコミュ
			ニティを創っています。<br>
			コミュニティへの会費はございませんが、感謝経済の
			発展に貢献くださる方はパトロンという形での援助を
			受け付けております。
		li.vision-text.hide Musubi は、「感謝でつながる恩贈りコミュニティ
			プラットフォーム」を目指しています。<br>
			Musubi を通して、ヒトとヒトが出逢い、恩と恩を
			贈り合い、感謝と感謝を交換し合う。そんな文化を
			創りたい。Give&Takeではなく、Give&Given。<br>
			モノが豊かになった今世紀。これからは“ココロ“の
			豊かさを追求すべき時代。<br>
			ココロの豊かさを追求するためには、人を助け、
			人に助けられる恩贈りの社会を創らねばいけない。
			Musubi は、率先して人のために恩贈りをするGiverが
			集まるコミュニティ。<br>
			あなたも恩贈りを通じて"感謝の紐"を結びませんか？
			さあ、心がポカポカ/ワクワクするコミュニティを
			一緒に創りましょう！
		li.vision-text.hide UKIUKIとは、「あ　りがとう」を数値化した感謝経済圏で使われるコミュニケーションツール（お金）です。<br>
			UKIは、切手のように機能します。1UKIは、60文	字分のサンクスレターを贈ることが可能で、60文字単位で1UKI支払います。<br>例えば、180字のサンクスレターを書いた場合、最低でも3UKIと一緒にサンクスレターを贈る必要があります。<br>贈られたUKIには、過去のサンクスレターと共に、あなたのサンクスレターが繋がっており、どんな想いでUKIが贈り合われたのかが可視化されます。<br>このため、UKIは物語や歴史のような文脈が載ったお金であり、一つ一つのUKIに個性があり、多様性のある通貨になりえます。<br>
javascript:
	//クリックしたときのファンクションをまとめて指定
   $('.title-box li').click(function(){
   		//.index()を使いクリックされたタブが何番目かを調べ、
        //indexという変数に代入します。
   		var index = $('.title-box li').index($(this));
   		//コンテンツを一度すべて非表示にし、
   		$('.text-box li').css('display','none');
   		//クリックされたタブと同じ順番のコンテンツを表示します。
   		$('.text-box li').eq(index).css('display','block');
   		//一度タブについているクラスselectを消し、
        $('.title-box li').removeClass('active');
        //クリックされたタブのみにクラスselectをつけます。
        $(this).addClass('active')
    });