<div class="main users-new">
    <div class="form-heading">
      <p>サインアップ</p>
    </div>
    <div class="form users-form">
      <div class="form-body">
        <p>ユーザー名</p>
        <input>
        
        <p>メールアドレス</p>
        <input>
        
        <input class="btn-submit" type="submit" value="新規登録">
      </div>
    </div>
</div>