// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* reset ================================ */
* {
  box-sizing: border-box;
}
html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
input {
  background-color: transparent;
  outline-width: 0;
}
form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* 共通レイアウト ================================ */
.clear-fix::after {
  content: "";
  display: block;
  clear: both;
}

/* 変数 ================================ */
$main-color: #f4ad49;
$btn-color: #db5565;
body {
  margin: 0;
}
.home-bg {
  background: url("../images/introduction.jpeg");
  height: 667px;
  background-position-x: 52%;
  text-align: center;
  position: relative;
  &::before{
  /* 透過した黒を重ねる */
  background-color: rgba(0,0,0,0.3s);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  }
  .service-title {
    width: 130px;
    padding-top: 120px;
    position: relative;
  }
  .service-subtitle, .info-text, .signup, .login, .terms, .privacy-policy {
    color: #fff;
    position: relative;
  }
  .service-subtitle {
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 250px;
  }
  //********* facebookログイン*********//
  // .verify-btn-box {
  //   padding: 15px;
  // }
  // .verify-btn {
  //   width: 60px;
  //   height: 60px;
  //   border-radius: 50%;
  //   background-color: #F86C30;
  //   opacity: 0.9;
  //   border: transparent;
  //   font-size: 20px;
  //   color: #fff;
  // }
  .signup {
    background: rgba(248, 108, 48, .9);
    width: 345px;
    height: 50px;
    border: transparent;
    border-radius: 30px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .info-text {
    font-size: 11px;
  }
  .login, .terms, .privacy-policy {
    font-size: 14px;
  }
}
//*************** メンバー一覧ページ(users/index.html.slim)***************//
.users {
  margin: 15px;
  border: 1px solid #ccc;
  .user-list {
    border-bottom: 1px solid #ccc;
    padding: 10px 0 10px 15px;
    a {
      color: #444;
      &:before {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #444;
        position: relative;
        top: -2px;
        margin-right: 15px;
      }
    }
  }
  .user-list:last-child {
      border-bottom: transparent;
  }
}


//*************** アカウント作成ページ(users/new.html.slim)***************//
.home-bg {
  .sign-up-title {
    color: #fff;
    position: relative;
    font-size: 22px;
    font-weight: 400;
    padding-top: 65px;
    &:before {
      content: '';/*何も入れない*/
      display: inline-block;/*忘れずに！*/
      width: 120px;/*画像の幅*/
      height: 40px;/*画像の高さ*/
      background-size: contain;
      position: relative;
      top: 6px;
      margin-right: 2px;
      background-image: url(../images/musubi-logo-type-white.png);
    }
  }
  .sign-up-form, .sign-in-form {
    text-align: left;
    position: relative;
    background: rgba(255,255,255,0.9);
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.4);
    padding: 30px 15px;
    margin: 20px;
    border-radius: 5px;
    .form-control {
      width: 310px;
      height: 40px;
      /* border: transparent; */
      border: 1px solid #7d7d7d;
      border-radius: 20px;
      padding-left: 20px;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .btn-primary {
      margin-top: 20px;
      background: rgba(248, 108, 48, .9);
      color: #fff;
      width: 310px;
      height: 50px;
      border: transparent;
      border-radius: 30px;
      font-size: 16px;
    }
  }
}
//*************** アカウント表示ページ(users/show.html.slim)***************//
.user-info {
  background-color: #ccc;
  .prof-edit-icon {
    img {
      width: 30px;
      height: 30px;
      float: right;
      margin-top: 25px;
      margin-right: 15px;
    }
  }
  .prof-icon-box {
    width: 80px;
    margin: 0 auto;
    padding-top: 40px;
    .prof-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    }
  }
  .prof-name {
    text-align: center;
    font-size: 20px;
  }
  .prof-sns {
        width: 272px;
        margin: 5px auto;
    .prof-sns-icon {
      font-size: 10px;
      display: inline-block;
      color: #fff;
      border-radius: 10px;
      padding: 1px 7px 2px;
      margin-right: 5px;
      &:before {
        content: '';/*何も入れない*/
        display: inline-block;/*忘れずに！*/
        width: 15px;/*画像の幅*/
        height: 15px;/*画像の高さ*/
        background-size: contain;
        position: relative;
        top: 3px;
        margin-right: 6px;
      }
    }
    .prof-fb {
      background: rgba(76,90,143,1);
      padding-left: 5px;
      &:before {
        background-image: url(../images/sns-icon-fb.png);
        top: 4px;
        margin-right: 5px;
      }
    }
    .prof-tw {
      background: rgba(86,161,236,1);
      &:before {
      background-image: url(../images/sns-icon-tw.png);
     }
    }
    .prof-insta {
      background: radial-gradient(circle at 35% 128%, #fdf497 0%, #fdf497 0%, #fd5949 20%, #d6249f 40%, #285AEB 100%);
      &:before {
        top: 4px;
        background-image: url(../images/sns-icon-insta.png);
      }
    }
  }
  .prof-detail-text {
    font-size: 12px;
    font-weight: 400;
    padding: 10px 15px 15px;
    letter-spacing: 0.8px;
  }
}
.prof {
  .container {
    background: none;
    .prof-list {
      border-bottom: 1px solid #ccc;
      .prof-item {
        float: left;
        font-size: 12px;
        color: $main-color;
        width : 33.33333% ; /* 未対応ブラウザ用フォールバック */
        width : -webkit-calc(100% / 3) ;
        width : calc(100% / 3) ;
        text-align: center;
        border-right: 1px solid #ccc;
        padding: 10px 0;
      }
      .prof-item:last-child {
        border-right: transparent;
      }
      .active-prof-list {
        color: #fff;
        background: $main-color;
      }
    }
    .prof-text-list {
      .hide {
        display: none;
      }
    }
  }
}




//*************** アカウント編集ページ(users/edit.html.slim)***************//
.edit-user {
  background: #f2f2f2;
  .form-heading {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  background: #fff;
  text-align: center;
  padding-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }
}
.container {
  background: #f2f2f2;
  padding-bottom: 60px;
  .field-title {
    font-size: 14px;
    color: #666;
    padding-left: 15px;
  }
  .field{
    input::placeholder, textarea::placeholder {
    font-size: 14px;
    color: #ccc;
    }
  }
  .field-first {
    padding-top: 20px;
  }
  .name-text, .self-intro-text, .fb-account-text, .tw-account-text, .insta-account-text {
    font-size: 14px;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #fff;
    display: block;
    width: 100vw;
    height: 50px;
  }
  .actions {
    text-align: center;
    background: $btn-color;
    width: 345px;
    height: 50px;
    margin: 60px auto 0;
      border-radius: 50px;
      line-height: 50px;
      input[type="submit"] {
        font-size: 16px;
        color: #fff;
      }
  }
}
//*************** ログインページ(sessions/new.html.slim)***************//
.home-bg {
  .sign-in-title {
    color: #fff;
    position: relative;
    font-size: 24px;
    font-weight: 400;
    padding-top: 65px;
  }
  .link-signup {
    position: relative;
    font-size: 14px;
    color: #fff;
    text-align: center;
  }
}

