// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* reset ================================ */
* {
  box-sizing: border-box;
}
html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
input {
  background-color: transparent;
  outline-width: 0;
}
form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* 共通レイアウト ================================ */
.clear-fix::after {
  content: "";
  display: block;
  clear: both;
}

/* 変数 ================================ */
$main-color: #f4ad49;
$btn-color: #db5565;
body {
  margin: 0;
}
.home-bg {
  background: url("../images/introduction.jpeg");
  height: 667px;
  background-position-x: 52%;
  text-align: center;
  position: relative;
  &::before{
  /* 透過した黒を重ねる */
  background-color: rgba(0,0,0,0.3s);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  }
  .service-title {
    width: 130px;
    padding-top: 120px;
    position: relative;
  }
  .service-subtitle, .info-text, .signup, .terms, .privacy-policy {
    color: #fff;
    position: relative;
  }
  .service-subtitle {
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 250px;
  }
  .verify-btn-box {
    padding: 15px;
  }
  .verify-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F86C30;
    opacity: 0.9;
    border: transparent;
    font-size: 20px;
    color: #fff;
  }
  .info-text {
    font-size: 11px;
  }
  .terms, .privacy-policy {
    font-size: 12px;
  }
}