$main-color: #f4ad49;
$btn-color: #db5565;
.header-top {
	background: $main-color;
	height: 65px;
	position: relative;
	.icon-left {
		.menu-icon, .cancel-icon {
			width: 30px;
			position: absolute;
		    top: 28px;
		    left: 15px;
		}
		.cancel-icon {
			display: none;
		}
	}
	.musubi-logo {
		width: 100px;
		margin: 0 auto;
		padding-top: 23px;
		.musubi-icon {
			width: 100px;
		}
	}
	.icon-right {
		.message-icon {
			width: 30px;
		    position: absolute;
		    top: 28px;
		    right: 15px;
		}
	}
}
.header-menu {
	background: $main-color;
	height: 602px;
	display: none;
	.header-menu-list {
		padding:0 15px;
		color: #fff;
	    font-size: 16px;
	    font-weight: 250;
	    .header-menu-item {
	    	padding: 12px 15px 8px;
    		border-bottom: 1px solid #fff;
	    }
	}
}
.menu-item {
	color: #ccc;
	font-size: 12px;
}
.create-item-btn {
	background: rgba(219,85,101,0.9);
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: fixed;
    right: -13px;
    bottom: -13px;
	.create-item {
		color: #fff;
		display: block;
		padding-top: 13px;
	}
	.give-icon {
		width: 50px;
	}
}

// 恩贈り作成のページ
.create-pf {
	background: #f2f2f2;
	padding-bottom: 60px;
	.create-pf-title {
	font-size: 20px;
	font-weight: 400;
	color: #333;
	background: #fff;
	text-align: center;
	padding-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
	}
	.top-image {
		background: #fff;
	    width: 165px;
	    height: 102px;
	    margin: 30px auto;
	}
	.field-title {
		font-size: 14px;
		color: #666;
		padding-left: 15px;
	}
	.field{
		input::placeholder, textarea::placeholder {
		font-size: 14px;
		color: #ccc;
		}
	}
	.title-text, .date-text, .place-text, .body-text {
		font-size: 14px;
		padding-left: 15px;
		margin-top: 5px;
		margin-bottom: 20px;
		background: #fff;
		display: block;
		width: 100vw;
		height: 50px;
	}
	.body-text {
		padding-top: 15px;
		height: 215px;
	}
	.actions {
		text-align: center;
		background: $btn-color;
		width: 345px;
		height: 50px;
		margin: 60px auto 0;
    	border-radius: 50px;
    	line-height: 50px;
    	input[type="submit"] {
    		font-size: 16px;
    		color: #fff;
    	}
	}
}
